<ng-container *ngIf="walletService.Wallet">
  <span class="header-text">{{ walletService.getAddr() }} </span>
  <img
    class="wallet-provider-image"
    [src]="walletService.getWalletImageIconUrl()"
  />
  <span class="header-text"> ₳ {{  walletService.getAdaString() }}</span>
</ng-container>

<button
  *ngIf="!walletService.Wallet"
  class="card card-small"
  (click)="walletService.connectWallet()"
  tabindex="0"
  [disabled]="walletService.connecting"
>
  <span *ngIf="!walletService.connecting">Connect Wallet</span>
  <span *ngIf="walletService.connecting">Connecting</span>
</button>
