$token-width: 180px;
$image-width: 128px;
.token {
  float: left;
  width: $token-width;
  margin-bottom: 4px;
  height: 200px;
  overflow: hidden;
}

.token-div {
}
.token-image {
  object-fit: contain;
  margin: 0px auto;
  width: 128px;
  aspect-ratio: auto 128 / 128;
  height: 128px;
  overflow-clip-margin: content-box;
  overflow: clip;
  white-space: pre;
  font-feature-settings: inherit;
}

.quantity {
  word-break: break-word;
  width: $image-width;
  overflow-wrap: anywhere;
  margin-top: 2px;
  font-size: 12px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
}

.name {
  word-break: break-word;
  width: $image-width;
  overflow-wrap: anywhere;
  margin-top: 2px;
  font-size: 12px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
