.token {
  margin: 8px 8px;
  align-self: flex-start;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
  white-space: pre;
  width: auto;
  cursor: pointer;
}

.token-div {
  display: flex;
  flex-direction: column;
  white-space: pre;
  width: auto;
  position: relative;
  border: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  resize: none;
  font-feature-settings: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: 1;
  font-weight: inherit;
  text-decoration: none;
  font-style: inherit;
  cursor: pointer;
}
.token-image {
  object-fit: contain;
  margin: 0px auto;
  width: 128px;
  aspect-ratio: auto 128 / 128;
  height: 128px;
  overflow-clip-margin: content-box;
  overflow: clip;
  white-space: pre;
  font-feature-settings: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: 1;
  font-weight: inherit;
  text-decoration: none;
  font-style: inherit;
  cursor: pointer;
}

.name {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  margin-top: 2px;
  width: 100%;
  flex-basis: 0px;
  min-height: min-content;
  line-height: calc(1em + 5px);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  border: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  resize: none;
  font-feature-settings: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: 1;
  font-weight: inherit;
  text-decoration: none;
  font-style: inherit;
}
